* {
  margin: 0px;
  padding: 0px;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.for-sms {
  border-radius: 10px;
  border: red 1px solid;
}
.go {
  display: flex;
  justify-content: center;
}
.input {
  margin: 0 10px;
}
.lists-for-movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items-for-movie {
  margin-bottom: 20px;
}
